.selectItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.selectItem p {
  cursor: pointer;
}

.text {
  color: #333;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}