@import "../../../styles/colors";

.customSwiper {
    width: 100%;
}

.container {
    height: 410px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 18px;

    @media only screen and (min-width: 300px) and (max-width: 420px) {
        flex-direction: column;
        height: max-content;
        justify-content: center;
        align-items: center;
        width: 320px;

        .characteristic {
            width: 100%;
        }

        .articles {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 12px;
            overflow-y: hidden;
            overflow-x: scroll;
            padding-bottom: 15px;
            padding-left: 0px;


            /* Для стилизации полосы прокрутки (опционально) */
            &::-webkit-scrollbar {
                height: 6px;
                border-radius: 13px;
                background: #F5F5F5;
            }

            &::-webkit-scrollbar-thumb {
                height: 6px;
                border-radius: 13px;
                background: #C3C3C3;
            }
        }
    }

    @media only screen and (min-width: 420px) and (max-width: 1170px) {
        flex-direction: column;
        height: max-content;
        justify-content: center;
        align-items: center;
        width: 400px;

        .characteristic {
            width: 100%;
        }

        .articles {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 12px;
            overflow-y: hidden;
            overflow-x: scroll;
            padding-bottom: 15px;
            padding-left: 0px;


            /* Для стилизации полосы прокрутки (опционально) */
            &::-webkit-scrollbar {
                height: 6px;
                border-radius: 13px;
                background: #F5F5F5;
            }

            &::-webkit-scrollbar-thumb {
                height: 6px;
                border-radius: 13px;
                background: #C3C3C3;
            }
        }
    }
}

.title {
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 329px;

    @media only screen and (min-width: 300px) and (max-width: 1170px) {
        width: 100%;
    }

    .h {
        color: #333;
        font-family: Futura PT;
        font-size: 29px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        padding: 0;
        margin: 0;

        @media only screen and (min-width: 300px) and (max-width: 420px) {
            font-size: 23px;
        }
    }

    .doors {
        display: flex;
        flex-direction: row;
        gap: 40px;

        @media only screen and (min-width: 300px) and (max-width: 1170px) {
            justify-content: center;
            align-items: center;
        }

        img {
            @media only screen and (min-width: 300px) and (max-width: 1170px) {
                width: 92.17px;
                height: 195.004px;
            }

            object-fit: cover;
            width: 134px;
            height: 286px;
            cursor: pointer;
        }
    }

    .description {
        color: #C3C3C3;
        font-family: Futura PT;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 329px;
        margin: 0;
        padding: 0;

        @media only screen and (min-width: 300px) and (max-width: 1170px) {
            width: 100%;
        }

        @media only screen and (min-width: 300px) and (max-width: 420px) {
            font-size: 14px;
        }

        word-wrap: break-word;
    }
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 13px;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
    padding-left: 26px;

    @media only screen and (min-width: 300px) and (max-width: 1280px) {
        font-size: 14px;
        width: 100%;
        direction: ltr;
    }

    /* Для стилизации полосы прокрутки (опционально) */
    &::-webkit-scrollbar {
        width: 6px;
        border-radius: 13px;
        background: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        width: 6px;
        border-radius: 13px;
        background: #C3C3C3;
    }

    .activeArticle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 13px;
        background: #12AB51;
        width: 116px;
        height: 40px;
        color: #FFF;
        font-family: Futura PT;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
        flex-shrink: 0;

        @media only screen and (min-width: 300px) and (max-width: 420px) {
            font-size: 14px;
        }
    }

    .article {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 116px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 13px;
        background: #F5F5F5;
        color: #636060;
        font-family: Futura PT;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;

        @media only screen and (min-width: 300px) and (max-width: 420px) {
            font-size: 14px;
        }
    }
}

.characteristic {
    display: flex;
    flex-direction: column;
    margin-left: 13px;


    @media only screen and (min-width: 300px) and (max-width: 1170px) {
        margin-left: 0;
    }

    .title {
        color: #333;
        font-family: Futura PT;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration-line: underline;

        padding: 0;
        margin: 0;

        @media only screen and (min-width: 300px) and (max-width: 420px) {
            font-size: 16px;
        }
    }

    .property {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-top: 21px;
        width: max-content;

        .item {
            padding-left: 14px;
            padding-right: 14px;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            background: rgba(245, 245, 245, 0.90);
            height: 43px;

            span {
                color: #333;
                font-family: Futura PT;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding: 0;
                margin: 0;

                @media only screen and (min-width: 300px) and (max-width: 420px) {
                    font-size: 14px;
                }
            }
        }
    }

    .info {
        margin-top: 19px;
        display: flex;
        flex-direction: column;

        .item {
            display: flex;
            flex-direction: row;
            gap: 0;
            align-items: center;
            justify-content: space-between;

            p {
                color: #333;
                font-family: Futura PT;
                font-size: 16px;
                font-style: normal;
                font-weight: 450;
                line-height: 25px;
                margin: 0;
                padding: 0;

                @media only screen and (min-width: 300px) and (max-width: 420px) {
                    font-size: 14px;
                }
            }

            .dotted {
                padding: 0;
                margin: 0;
                color: #C3C3C3;
                font-family: Futura PT;
                font-size: 16px;
                font-style: normal;
                font-weight: 450;
                line-height: 25px;

                @media only screen and (min-width: 300px) and (max-width: 420px) {
                    font-size: 14px;
                }
            }
        }


    }

    .viewPhotoBtn {
        margin-top: 20px;
        width: 151px;
        height: 38px;
        display: inline-flex;
        padding: 10px 25px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: #137039;
        color: #FFF;
        font-family: Futura PT;
        font-size: 14px;
        font-style: normal;
        font-weight: 450;
        line-height: normal;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            background-color: $basic_hover;
        }
    }

    .description {
        color: #C3C3C3;
        font-family: Futura PT;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0;
        margin: 0;
        margin-top: 19px;
        width: 376px;
        word-wrap: break-word;

        @media only screen and (min-width: 300px) and (max-width: 420px) {
            font-size: 14px;
            width: 100%;
        }
    }
}

.prices {
    width: 217px;
    height: 297px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 27px;
    background: #F5F5F5;
    padding-left: 18px;
    padding-right: 18px;

    .discountBlock {
        margin-top: 36px;
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        gap: 4px;

        .price {
            color: #333;
            font-family: Futura PT;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 0;
            margin: 0;
        }

        .discount {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: #FFF;
                font-family: Futura PT;
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                padding: 0;
                margin: 0;
                width: 42px;
                height: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-image: url("../../../resources/images/discount.svg");
                background-repeat: no-repeat;
            }
        }
    }

    .withoutDiscountBlock {
        align-self: flex-start;

        p {
            color: #B2B1B1;
            font-family: Futura PT;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration-line: strikethrough;
            padding: 0;
            margin: 0;
        }
    }

    .inStock {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        margin-top: 61px;
        gap: 12px;

        p {
            padding: 0;
            margin: 0;
            color: #636363;
            font-family: Futura PT;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .btnWrapper {
        width: 192px;
    }
}

.adaptivePrices {
    position: relative;
    margin-top: 22px;
    width: 100%;
    min-height: 132px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 19px;
    background: #F5F5F5;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 11px;

    .discount {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 12px;
        top: 8px;

        p {
            color: #FFF;
            font-family: Futura PT;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 0;
            margin: 0;
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-image: url("../../../resources/images/discount.svg");
            background-repeat: no-repeat;
        }
    }

    .priceWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 7px;

        .price {
            color: #333;
            font-family: Futura PT;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 0;
            margin: 0;

            @media only screen and (min-width: 300px) and (max-width: 420px) {
                font-size: 29px;
            }
        }

        .priceWithoutDiscount {
            padding: 0;
            margin: 0;
            color: #B2B1B1;
            font-family: Futura PT;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration-line: strikethrough;

            @media only screen and (min-width: 300px) and (max-width: 420px) {
                font-size: 25px;
            }
        }
    }

    .inStock {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        gap: 12px;

        p {
            padding: 0;
            margin: 0;
            color: #636363;
            font-family: Futura PT;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}