@import "../../styles/fonts";

.headerWrapper {
    width: 100%;
    height: auto;
    // display: flex;
    // align-items: flex-start;
    // justify-content: center;
    // flex-wrap: wrap;
}

.header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    padding: 0 20px;
}

.headerTopBlock {
    width: 100%;
    height: auto;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}

.headerLogoWrapper {
    width: auto;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.headerLogoTextDoor {
    font-size: 32px;
    font-family: 'Intro';
    font-weight: 900;
    padding-left: 10px;
    color: #12AB51;
}

.headerLogoTextGran {
    font-size: 32px;
    font-family: 'Intro';
    font-weight: 900;
    padding-left: 10px;
    color: #137039;
}

.headerContactsWrapper {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cintactPhone {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

.contactText {
    width: 141px;
    height: 17px;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 700;
    line-height: 16.94px;
    color: #000000;
    margin-left: 10px;
}

.contactMail {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

.subApply {
    width: 191px;
    height: 44px;
    top: 0;
    border-radius: 8px;
    background-color: #12AB51;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    transition: .3s;

    &:hover {
        background-color: rgb(86, 86, 182);
        transition: .3s;
    }
}

.headerMobileWrapBlock {
    display: flex;
}

.phoneCallBlock {
    width: auto;
    height: auto;
}

.phoneCallIcon {
    position: relative;
    left: -38px;
    top: -10px;
}

.sendApplytext {
    width: 116px;
    height: 17px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    color: #FFFFFF;
    position: relative;
    left: -13px;
    cursor: pointer;
    // margin-right: 10px;
}

.headerMainBlock {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
}

.headerSlideFull {
    width: 100%;
    height: 348px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 27px;
}

.customSlide {
    // border-radius: 27px;
}

.headerContentWrapper {
    width: 100%;
    height: 353px;
    position: relative;
    margin-top: -352px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sliderLeftSide {
    width: 590px;
    height: 100%;
    margin-left: 100px;
    padding-top: 7px;
}

.leftSideMainText {
    font-family: 'Futura PT Heavy Italic';
    font-weight: 400;
    font-style: italic;
    font-size: 49px;
    line-height: 62.82px;
    color: #FFFFFF;
}

.leftSideBottomText {
    font-family: 'Futura PT';
    font-weight: 400;
    font-size: 29px;
    line-height: 37.18px;
    color: #FFFFFF;
    margin-top: -55px;
}

.sliderBtnsBlock {
    width: 102px;
    height: 48px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 100px;
    top: -75px;
    z-index: 100;
}

.sliderPrevBtn {
    width: 51px;
    height: 48px;
    border-radius: 17px 0px 0px 17px;
    background-color: #12AB51;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sliderNextBtn {
    width: 51px;
    height: 48px;
    border-radius: 0px 17px 17px 0px;
    background-color: #12AB51;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        transform: rotate(180deg);
    }
}

// .sliderPrevBtn.swiper-button-disabled,
// .sliderNextBtn.swiper-button-disabled {
//     opacity: 0.1;
// }

.sliderRightSide {
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    grid-gap: 27px;
    margin-top: 195px;
    margin-right: 13px;
}

.sliderInfoElement {
    width: 119px;
    height: 124px;
    border-radius: 27px;
    background-color: #12AB51BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 14px;
    grid-gap: 1px;

    p {
        width: 65px;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 14px;
        line-height: 16.94px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 6px;
    }
}

.customSwiper {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    position: relative;
    // border-radius: 27px;
}

.customSlide {
    width: 100%;
}





$mobile_min_width: 320px;
$mobile_max_width: 480px;
$tablet_min_width: 768px;
$tablet_max_width: 992px;
$pc_min_width: 1400px;



@media only screen and (min-width: $mobile_min_width) and (max-width: $mobile_max_width) {
    .headerWrapper {
        // padding: 0 20px;
    }
    
    .header {
        width: 100%;
        height: auto;
        // padding: 5px;
    }

    .headerTopBlock {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .contactText {
        width: auto;
    }

    .headerLogoWrapper {
        div {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: 100%;

            p {
                margin: 0;
                font-size: 21px;
                line-height: 26.23px;
            }
        }
    }

    .headerContactsWrapper {
        grid-gap: 0;
        width: 100%;
        justify-content: space-between;
    }

    .cintactPhone,
    .contactMail,
    .subApply {
        margin: 0;
        padding: 0;

        p {
            font-size: 12px;
            line-height: 14.52px;
        }
    }

    .headerMobileWrapBlock {
        flex-direction: column-reverse;
        position: relative;
        top: -24px;
    }

    .subApply {
        width: 120px;
        position: relative;
        left: 13px;
        top: -30px;
        
        p {
            width: auto;
            margin: 0;
            padding: 0;
            position: relative;
            top: 7px;
            left: 4px;
        }
    }

    .phoneCallIcon {
        position: relative;
        left: 11px;
        top: -37px;
    }

    .headerMainBlock {
        width: 100%;
        height: 226px;
        // padding: 0 5px;
    }

    .headerSlideFull {
        width: 100%;
        height: 100%;
    }

    .headerContentWrapper {
        width: 100%;
        height: 100%;
        margin-top: -227px;
    }

    .sliderLeftSide {
        width: 213px;
        height: 100%;
        margin: 0;
        padding: 0 0 0 15px;
    }

    .leftSideMainText {
        width: 180px;
        height: 78px;
        font-size: 20px;
        line-height: 25.64px;
    }

    .leftSideBottomText {
        width: 174px;
        height: 46px;
        font-size: 18px;
        line-height: 23.08px;
        margin-top: -18px;
        font-weight: 300;
    }

    .sliderBtnsBlock {
        width: 62px;
        height: 30px;
        position: relative;
        top: -50px;
        left: 15px;
    }

    .sliderPrevBtn {
        width: 31px;
        height: 30px;
        border-radius: 7px 0 0 7px;

        img {
            height: 13px;
        }
    }

    .sliderNextBtn {
        width: 31px;
        height: 30px;
        border-radius: 0 7px 7px 0;

        img {
            height: 13px;
        }
    }

    .sliderRightSide {
        width: auto;
        height: auto;
        flex-direction: column;
        margin-top: 0;
        grid-gap: 7px;
    }

    .sliderInfoElement {
        width: 59px;
        height: 61px;
        border-radius: 15px;

        img {
            height: 21px;
        }

        p {
            font-size: 8px;
            line-height: 10px;
        }
    }
}

@media only screen and (min-width: $mobile_max_width) and (max-width: $tablet_min_width) {
    .headerWrapper {
        // padding: 0 20px;
    }
    
    .header {
        width: 100%;
        height: auto;
        // padding: 5px;
    }

    .headerTopBlock {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .contactText {
        width: auto;
    }

    .headerLogoWrapper {
        div {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: 100%;

            p {
                margin: 0;
                font-size: 21px;
                line-height: 26.23px;
            }
        }
    }

    .headerContactsWrapper {
        grid-gap: 0;
        width: 100%;
        justify-content: space-between;
    }

    .cintactPhone,
    .contactMail,
    .subApply {
        margin: 0;
        padding: 0;

        p {
            font-size: 12px;
            line-height: 14.52px;
        }
    }

    .headerMobileWrapBlock {
        flex-direction: column-reverse;
        position: relative;
        top: -24px;
    }

    .subApply {
        width: 120px;
        position: relative;
        left: 13px;
        top: -30px;
        
        p {
            width: auto;
            margin: 0;
            padding: 0;
            position: relative;
            top: 7px;
            left: 4px;
        }
    }

    .phoneCallIcon {
        position: relative;
        left: 11px;
        top: -37px;
    }

    .headerMainBlock {
        width: 100%;
        height: 226px;
        // padding: 0 5px;
    }

    .headerSlideFull {
        width: 100%;
        height: 100%;
    }

    .headerContentWrapper {
        width: 100%;
        height: 100%;
        margin-top: -227px;
    }

    .sliderLeftSide {
        width: 213px;
        height: 100%;
        margin: 0;
        padding: 0 0 0 15px;
    }

    .leftSideMainText {
        width: 180px;
        height: 78px;
        font-size: 20px;
        line-height: 25.64px;
    }

    .leftSideBottomText {
        width: 174px;
        height: 46px;
        font-size: 18px;
        line-height: 23.08px;
        margin-top: -18px;
        font-weight: 300;
    }

    .sliderBtnsBlock {
        width: 62px;
        height: 30px;
        margin-top: 25px;
        position: relative;
        top: -70px;
        left: 15px;
    }

    .sliderPrevBtn {
        width: 31px;
        height: 30px;
        border-radius: 7px 0 0 7px;

        img {
            height: 13px;
        }
    }

    .sliderNextBtn {
        width: 31px;
        height: 30px;
        border-radius: 0 7px 7px 0;

        img {
            height: 13px;
        }
    }

    .sliderRightSide {
        width: auto;
        height: auto;
        flex-direction: column;
        margin-top: 0;
        grid-gap: 7px;
    }

    .sliderInfoElement {
        width: 59px;
        height: 61px;
        border-radius: 15px;

        img {
            height: 21px;
        }

        p {
            font-size: 8px;
            line-height: 10px;
        }
    }
}

@media only screen and (min-width: $tablet_min_width) and (max-width: $tablet_max_width) {
    .headerWrapper {
        // padding: 0 20px;
    }
    
    .header {
        width: 100%;
        height: auto;
        // padding: 5px;
    }

    .headerTopBlock {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .contactText {
        width: auto;
    }

    .headerLogoWrapper {
        div {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: 100%;

            p {
                margin: 0;
                font-size: 21px;
                line-height: 26.23px;
            }
        }
    }

    .headerContactsWrapper {
        grid-gap: 0;
        width: 100%;
        justify-content: space-between;
    }

    .cintactPhone,
    .contactMail,
    .subApply {
        margin: 0;
        padding: 0;

        p {
            font-size: 12px;
            line-height: 14.52px;
        }
    }

    .headerMobileWrapBlock {
        flex-direction: column-reverse;
        position: relative;
        top: -24px;
    }

    .subApply {
        width: 120px;
        position: relative;
        left: 13px;
        top: -30px;
        
        p {
            width: auto;
            margin: 0;
            padding: 0;
            position: relative;
            top: 7px;
            left: 4px;
        }
    }

    .phoneCallIcon {
        position: relative;
        left: 11px;
        top: -37px;
    }

    .headerMainBlock {
        width: 100%;
        height: 226px;
        // padding: 0 5px;
    }

    .headerSlideFull {
        width: 100%;
        height: 100%;
    }

    .headerContentWrapper {
        width: 100%;
        height: 100%;
        margin-top: -227px;
    }

    .sliderLeftSide {
        width: 213px;
        height: 100%;
        margin: 0;
        padding: 0 0 0 15px;
    }

    .leftSideMainText {
        width: 180px;
        height: 78px;
        font-size: 20px;
        line-height: 25.64px;
    }

    .leftSideBottomText {
        width: 174px;
        height: 46px;
        font-size: 18px;
        line-height: 23.08px;
        margin-top: -18px;
        font-weight: 300;
    }

    .sliderBtnsBlock {
        width: 62px;
        height: 30px;
        margin-top: 25px;
        position: relative;
        top: -70px;
        left: 15px;
    }

    .sliderPrevBtn {
        width: 31px;
        height: 30px;
        border-radius: 7px 0 0 7px;

        img {
            height: 13px;
        }
    }

    .sliderNextBtn {
        width: 31px;
        height: 30px;
        border-radius: 0 7px 7px 0;

        img {
            height: 13px;
        }
    }

    .sliderRightSide {
        width: auto;
        height: auto;
        flex-direction: column;
        margin-top: 0;
        grid-gap: 7px;
    }

    .sliderInfoElement {
        width: 59px;
        height: 61px;
        border-radius: 15px;

        img {
            height: 21px;
        }

        p {
            font-size: 8px;
            line-height: 10px;
        }
    }
}

@media only screen and (min-width: $tablet_max_width) and (max-width: $pc_min_width) {
    .headerWrapper {
        width: 100%;
        // padding: 0px 20px;
    }

    .header {
        width: 100%;
    }

    .headerMainBlock {
        width: 100%;
    }

    .headerContentWrapper {
        width: 100%;
    }

    .sliderLeftSide {
        margin-left: 30px;
    }

    .sliderBtnsBlock {
        left: 25px;
    }
}